/_build
/cover
/deps
/doc
/node_modules
/priv/static
/priv/cert/*.pem
/tmp

/.env*
/.fetch
/.iex.exs
/.port*
erl_crash.dump
npm-debug.log

/ui/node_modules
/ux/node_modules

.DS_Store
.git
.gitignore
