# TODO: peg buildpack https://git.io/JuC3c
# https://github.com/HashNuke/heroku-buildpack-elixir#specifying-elixir-version
elixir_version=1.14.5
erlang_version=25.3.2
runtime_path=/app

# May need to set true occassionally to fix caching-related issues, see:
# https://github.com/phoenixframework/phoenix/issues/1426
# always_rebuild=true
